html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #F8F8F8; 
    div.container {
        header {
            background-color: #f8dfdf;
            padding: 30px;
            height: 140px;
            div.header-item{
                text-align: center;
                font-size: 40px;
            }
        }
        main{
            padding: 30px 15%;
            h1{
                font-size: 20px;
            }
            p{
                font-size: 15px;
            }
            ul{
                list-style: none;
                padding: 0;
                li{
                    padding-bottom: 5px;
                }
            }
            hr{
                height: 3px;
                background-color: #f8dfdf;
                border: none;
            }
            div.main-description{
                padding: 10px 20%;
            }
            div.main-profile{
                padding: 10px 20%;
            }
            div.main-portfolio{
                padding: 10px 20%;
            }
        }
        footer{
            background-color: white;
            padding: 5px 30px;
            text-align: center;
            p.copyright{
                font-size: 10px;
            }
        }
    }
}
